{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Upload an Image</h2>
{% endblock page_header %}

{% block content %}

    <form method='post' action = "{% url 'learning_logs:img_upload' %}" enctype="multipart/form-data">
        <!-- cross-site request forgery -->
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <!-- tells Django to render all the form elements in paragraph format -->
            <button name="submit" class="btn btn-primary">Upload</button>
        {% endbuttons %}
    </form>
{% endblock content %}